<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mediora">

        <activity
            android:name=".PharmacyActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EBookingActivity"
            android:exported="false"
            android:theme="@style/Theme.Mediora" />

        <activity android:name=".MainActivity" android:exported="false" android:theme="@style/Theme.Mediora" />

        <activity android:name=".PainReliefActivity" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".AntibioticsActivity" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".SupplementsActivity" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".ColdFluActivity" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".baby_mother" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".diabetes_care" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".bloodpressure" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".skincare" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".medicaldevice" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".upload_prescriptions" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".enterdelivery_details" android:exported="false" android:theme="@style/Theme.Mediora" />
        <activity android:name=".order_details" android:exported="false" android:theme="@style/Theme.Mediora" />

    </application>

</manifest>